<!DOCTYPE html>
<html lang="en">
<head>
<title>SVQ</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="static/time_performance.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>
<link rel="stylesheet" type="text/css" href="static/style.css"> 
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script type="text/javascript" src="static/utils.js"></script> 
<script type="text/javascript" src="static/accuracy_pie.js"></script>
<script type="text/javascript" src="static/simpleheat.js"></script>
</head>
<body>
<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      <div class="modal-body">
        <div class="row" style="margin-left: 5px">
          <b>Class selection</b>
        </div>
        <div class="row" style="margin-left: 5px; margin-bottom: 10px">
          <div class="col-md-12">
          <form>
            <label id="isCar1" style="margin-right: 10px">
              <input id = "isCar" type="checkbox" name="modal_checkbox" value="Car">Car
            </label>
            <label id="isTruck1" style="margin-right: 10px">
              <input id = "isTruck" type="checkbox" name="modal_checkbox" value="Truck">Truck
            </label>
            <label id="isPerson1" style="margin-right: 10px">
              <input id = "isPerson" type="checkbox" name="modal_checkbox" value="Person">Person
            </label>
            <label id="isBus1" style="margin-right: 10px">
              <input id = "isBus"  type="checkbox" name="modal_checkbox" value="Bus" >Bus
            </label>
          </form>

          </div>
        </div>
        <div class="row" style="margin-left: 5px">
          <b>Predicate List</b>
           <table class="table table-striped" style="margin-top: 10px">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Predicates</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th id="row1" scope="row" style="display:none;">1</th>
                    <td id="row_val1" style="display:none;">X</td>
                  </tr>
                  <tr>
                    <th id="row2" scope="row" style="display:none;">2</th>
                    <td id="row_val2" style="display:none;">X</td>
                  </tr>
                  <tr>
                    <th id="row3" scope="row" style="display:none;">3</th>
                    <td id="row_val3" style="display:none;">X</td>
                  </tr>
                  <tr>
                    <th id="row4" scope="row" style="display:none;">4</th>
                    <td id="row_val4" style="display:none;">X</td>
                  </tr>
                  <tr>
                    <th id="row5" scope="row" style="display:none;">5</th>
                    <td id="row_val5" style="display:none;">X</td>
                  </tr>
                  <tr>
                    <th id="row6" scope="row" style="display:none;">6</th>
                    <td id="row_val6" style="display:none;">X</td>
                  </tr>
                </tbody>
            </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" id="save" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<nav class="navbar navbar-inverse visible-xs">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Logo</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Dashboard</a></li>
        <li><a href="#" id="age" >Age</a></li>
        <li><a href="#">Gender</a></li>
        <li><a href="#">Geo</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 sidenav hidden-xs" style="margin-top: 40px;margin-left: 0px;height:890px;">
      <h2>SVQ: Streaming Video Queries</h2>
      <br>
      <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="#section1">Dashboard</a></li>
        <li><a href="#section2" ">Report</a></li>
      </ul><br>
    </div>
    <br>
    <div id="hid_div" style="visibility: hidden; display:inline;">a</div>
    <div class="col-sm-9">
      <div class="col-sm-3">
      <div class="well" style="height:200px; width: 100%;">
         <div class="row" style="margin-left: 10px;">
          <div class="topcorner"><font size="6" color="red"> A </font> </div>
        <h4><b><u><font size="4">Video source selection</font></u></b></h4>
        <div id="radio_data">
          <input type="radio" id="det" name="project" value="clip1">
          <label for="det">clip1</label>    
          <input type="radio" id="squ" name="project" value="clip2">
          <label for="squ">clip2</label>
        </div>
      </div>
        <div class="row" style="margin-left: 10px;">
        <h4><b><u><font size="4">Video mode</font></u></b></h4>
        <div id="radio_video">
          <input type="radio" id="normal" name="mode" value="Normal mode">
          <label for="normal">Normal mode</label>
     
          <input type="radio" id="slow" name="mode" value="Slow mode">
          <label for="slow">Slow mode</label>
        </div>
      </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="well" style="height:200px;">
        <h4><b><u><font size="4">Filter selection</font></u></b></h4>
        <div class="row" style="margin-left: 50px;">
          <div class="topcorner"><font size="6" color="red"> B </font> </div>
        
        <div id="radio">
          <input type="radio" id="cou" name="project1" value="Count" >
          <label for="cou" id="cou1" style="margin-right: 15px">Count</label>
     
          <input type="radio" id="cls" name="project1" value="Class count">
          <label for="cls" style="margin-right: 15px">Class count</label>
     
          <input type="radio" id="loc" name="project1" value="Localisation">
          <label for="loc" style="margin-right: 5px">Localisation</label>
          <div class="row" style="margin-top: 10px;margin-right: 50px;">
            <div class="col text-center">
            <button id="predicates_button"type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong" style="visibility: hidden;">
              Options
            </button>
          </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    <div class="col-sm-5">
      <div class="well" style="height:200px;width: 100%;">
        <div class="topcorner"><font size="6" color="red"> C </font> </div>
        <label for="sql_text"><font size="4">SQL query</font></label>
            <textarea readonly class="form-control" id="sql_text" rows="4" style="background-color: lightyellow"></textarea>
        <br>
        <div class="col-sm-6" style="text-align: right;">
          <button id="opt">Optimisation</button>
        </div>
        <div class="col-sm-6" >
          <button id="bru">Brute Force</button>
        </div>
      </div>
    </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="well" id="canvas1" style="height:320px;">
            <div class="topcorner"><font size="6" color="red"> D </font> </div>
            <canvas id="canvas" height="280" width="280"/>
          </div>
        </div>
        <div class="col-sm-4"  >
          <div class="well" style="height:320px;width: 100%;">
            <div class="topcorner"><font size="6" color="red"> E </font> </div>
            <h4>Accuracy</h4>
            <div class="col-sm-9"  >
              <div id="accopt"></div>
            </div>
            <div class="col-sm-3"  >
              <div class="legend1" id="car_led1" style="display: none;"> <p class="country-name"><span class="key-dot car"></span>Car</p> </div>
              <div class="legend1" id="person_led1" style="display: none;"> <p class="country-name"><span class="key-dot person"></span>Person</p> </div>
              <div class="legend1" id="truck_led1" style="display: none;"> <p class="country-name"><span class="key-dot truck"></span>Truck</p> </div>
              <div class="legend1" id="bus_led1" style="display: none;"> <p class="country-name"><span class="key-dot bus"></span>Bus</p> </div>
              <div id="no_optimisation" class="legend1" style="display: none;"> <p class="country-name"><span class="key-dot no"></span>No class</p> </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="well"  style="height:320px;">
            <div class="topcorner"><font size="6" color="red"> F </font> </div>
            <h4>Time Performance</h4>
            <div id="time1"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="well" id="canvas3" style="height:320px;">
            <div class="topcorner"><font size="6" color="red"> G </font> </div>
            <canvas id="canvas2" height="280" width="280"/>
              <div id="innerContainer">
                <canvas id="canvas4" height="100%" width="100%"/>
              </div>
          </div>
        </div>
        <div class="col-sm-4">
            <div class="well" style="height:320px;width: 100%;">
              <div class="topcorner"><font size="6" color="red"> H </font> </div>
            <h4>Accuracy</h4>
            <div class="col-sm-9"  >
              <div id="accopt1"></div>
            </div>
            <div class="col-sm-3"  >
              <div class="legend0" id="car_led" style="display: none;"> <p class="country-name"><span class="key-dot car"></span>Car</p> </div>
              <div class="legend0" id="person_led"  style="display: none;"> <p class="country-name"><span class="key-dot person"></span>Person</p> </div>
              <div class="legend0" id="truck_led"  style="display: none;"> <p class="country-name"><span class="key-dot truck"></span>Truck</p> </div>
              <div class="legend0" id="bus_led" style="display: none;"> <p class="country-name"><span class="key-dot bus"></span>Bus</p> </div>
              <div id="no_brute_force" class="legend0" style="display: none;"> <p class="country-name"><span class="key-dot no"></span>No class</p> </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="well" style="width:100%; height:320px;">
            <div class="topcorner"><font size="6" color="red"> I </font> </div>
            <h4>Time Performance</h4>
            <div id="time"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
flag = true;
var canvas, canvas1, context, ii, img, url;
$(function() {
    var inputVideo, results_id, count_query, refreshInterval, filter_type, predicate;
    $( "#radio" ).controlgroup();
    $( "#radio_data" ).controlgroup();
    $( "#radio_video" ).controlgroup();
    $( "#selectable" ).selectable();
    
    map = new Map();
    $("table tr").click(function(){
      
      $(this).closest('tr').find('td').each(
      function (i) {
         if (map.has($(this).text())){
            map.delete($(this).text())
            $(this).closest('tr').children('td,th').css('background-color','#FFFFFF');
         } else {
           $(this).closest('tr').children('td,th').css('background-color','#33FFB8');
           map.set($(this).text(), 1);
         }
      }); 
    });

    $('input[name="project"]').change(function() {
      inputVideo = $('input[name="project"]:checked').val().toLowerCase();
      if (inputVideo == "clip2"){
        $("#cou").css("display", "none");
        $("#cou1").css("display", "none");
      } else{
        $("#cou").css("display", "inline");
        $("#cou1").css("display", "inline");
      }
    });

    // change the visibility of predicates_button
    $('input[name="project1"]').change(function() {
      val = $('input[name="project"]:checked').val().toLowerCase()
      change_class_visibility_modal(val)

      filter_type = $('input[name="project1"]:checked').val().toLowerCase()
      if (filter_type == 'count'){
        count_query = queries_per_filter_predicates(filter_type, inputVideo, 0)
        $( "#sql_text" ).html( count_query );
      } else if (filter_type == 'class count' || filter_type == 'localisation' ){
        $("#isTruck1").css("display", "none");
        $("#isPerson1").css("display", "none");
      }
      
      predicates_button_visibility(inputVideo)
    });

    $( "#save" ).click(function() {
      map.forEach(function (item, key, mapObj){
        predicates=key
      });
      count_query = queries_per_filter_predicates(filter_type, inputVideo, map);
      $( "#sql_text" ).html( count_query );
      $("#exampleModalLong .close").click()

    });

    // gets the input video and defines the query
    //modal checkbox
    $('input[name="modal_checkbox"]').change(function() {
      var car = document.getElementById('isCar').checked
      var truck = document.getElementById('isTruck').checked
      var person = document.getElementById('isPerson').checked
      var bus = document.getElementById('isBus').checked
      modal_checkbox_display(car, truck, person, bus)
      if (inputVideo == "clip2"){
        if (filter_type == 'class count'){
          if (car && bus){
            document.getElementById('row_val1').innerText = 'car >= 3';
            document.getElementById('row_val2').innerText = 'bus >= 2';
          } else if (car) {
            document.getElementById('row_val1').innerText = 'car >= 3';
          }
        } else if (filter_type == 'localisation'){
          if (car && bus){
            document.getElementById('row_val1').innerText = 'car BEHIND bus';
            document.getElementById('row_val2').innerText = 'bus RIGHT car';
          }
        }
    } else {
      if (filter_type == 'localisation'){
        if (car && truck && person) {
          document.getElementById('row_val1').innerText = 'car LEFT TO A truck';
          document.getElementById('row_val2').innerText = 'truck LEFT TO A car';
          document.getElementById('row_val3').innerText = 'car LEFT TO A person';
          document.getElementById('row_val4').innerText = 'person LEFT TO A car';
          document.getElementById('row_val5').innerText = 'truck LEFT TO A person';
          document.getElementById('row_val6').innerText = 'person LEFT TO A truck';
        } else if (car && person) {
          document.getElementById('row_val1').innerText = 'car LEFT TO A person';
          document.getElementById('row_val2').innerText = 'person LEFT TO A car';
        } else if (truck && person) {
          document.getElementById('row_val1').innerText = 'truck LEFT TO A person';
          document.getElementById('row_val2').innerText = 'person LEFT TO A truck';
        } else if (truck && car) {
          document.getElementById('row_val1').innerText = 'car LEFT TO A truck';
          document.getElementById('row_val2').innerText = 'truck LEFT TO A car';
        } else if (car && bus){
          document.getElementById('row_val1').innerText = 'car LEFT TO A bus';
          document.getElementById('row_val2').innerText = 'car BEHIND car';
        }
      } else if (filter_type == "class count"){
        if (car && bus){
          document.getElementById('row_val1').innerText = 'car > 1';
          document.getElementById('row_val2').innerText = 'bus == 1';
        }
        else if (car){
          document.getElementById('row_val1').innerText = 'car > 1';
        }
        else if (bus){
          document.getElementById('row_val1').innerText = 'bus == 1';
        }
      }
    }
    });

    //select speed of frames
    $('input[name="mode"]').change(function() {
      ($('input[name="mode"]:checked').val() == "Normal mode") ? refreshInterval = 0.7 : refreshInterval = 1000;
    });

    // select to run the optimised version
    $ ("#opt").click(function() {
      out_canv = "canvas1";
      if (refreshInterval == 300){
        refreshInterval = 0.7;
      } else if (refreshInterval == 1001) {
        refreshInterval = 1000;
      }
      canvas = document.getElementById("canvas");
      canvas1 = document.getElementById(out_canv);
      context = canvas.getContext("2d");
      
      if (typeof predicates === 'undefined') {
        predicates = ""
      }
      Myfunction(refreshInterval, inputVideo, predicates);
      init(true, 0, refreshInterval, inputVideo, "accopt", predicates, "");
    });

    // select to run the brute force version
    $ ("#bru").click(function() {
      out_canv = "canvas3";
      (refreshInterval == 0.7) ? refreshInterval = 300 : refreshInterval = 1001;
      canvas = document.getElementById("canvas2");
      canvas1 = document.getElementById(out_canv);
      context = canvas.getContext("2d");
      if (typeof predicates === 'undefined') {
        predicates = ""
      }
      Myfunction(refreshInterval, inputVideo, predicates);
      init(true, 0, refreshInterval, inputVideo, "accopt1", predicates, "");
    });

  } );

//display the frames as video
function init(flag, ii, refreshInterval, inputVideo, results_id, predicates, bbox) {
  img = new Image();
  if (flag) {
    var margin = {top: 5, right: 5, bottom: 5, left: 5}, width = 250, height = 250
    img.onload = function() {
        canvas.setAttribute("width", 390);
        canvas.setAttribute("height", 280);
        context.drawImage(this, 0, 0, 400, 280);
        context.beginPath();
        bbox = bbox.split(",");
        var tmp = [];
        var x = -1
        for (let i=0; i<bbox.length; i++) {
          tmp.push(parseFloat(bbox[i]))
          if (i == x+4){
            
            context.rect(tmp[0] * 0.40625,tmp[1] * 0.518518519,(tmp[2]-tmp[0]) * 0.40625,(tmp[3]-tmp[1]) * 0.518518519);
            x = x+4
            tmp = [];
          }
        }
        context.lineWidth = 5;
        context.strokeStyle = 'black';
        context.stroke();

        if(true) {
            var now = new Date();
            var text = now.toLocaleDateString() + " " + now.toLocaleTimeString();
            var maxWidth = 100;
            var x = img.width-10-maxWidth;
            var y = img.height-10;
            context.strokeStyle = 'black';
            context.lineWidth = 2;
            context.strokeText(text, x, y, maxWidth);
            context.fillStyle = 'white';
            context.fillText(text, x, y, maxWidth);
        }
    };
    $.ajax("{{ url_for('get_image_prediction') }}", {
       type : "POST",
       data: JSON.stringify({'count': ii, 'input': inputVideo, 'interval':refreshInterval, 'predicates': predicates}, null, '\t'),
       contentType: 'application/json;charset=UTF-8',
       success: function(res) {
        var obj = res.result;
        img_location = '/static/images/'+inputVideo+'/';
        url = img_location.concat(String(obj.value));
        (obj.prediction) ? $("#"+out_canv).css("background-color","green") : $("#"+out_canv).css("background-color","red"); 
        if (typeof obj.bbox !== 'undefined' && obj.bbox != null) {
          var bbox_array = [];
          obj.bbox.forEach(function (item, key, mapObj){
            bbox_array.push(item[0]);
            bbox_array.push(item[1]);
            bbox_array.push(item[2]);
            bbox_array.push(item[3]);
          });
        }
        ii = ii + 1;
        refresh(flag, ii, refreshInterval, inputVideo , results_id, predicates, bbox_array);
       },
      error: function (jqXHR, exception) {
        time_performance(refreshInterval);
        accuracy_pie(refreshInterval, results_id, predicates)
      }
    });
  }
}

//fix the speed of displaying video
function Myfunction(refreshInterval, inputVideo, predicates){
    $.ajax("{{ url_for('get_accuracy') }}", {
         type : "POST",
         data: JSON.stringify({'input': inputVideo, 'interval':refreshInterval, 'predicates': predicates}, null, '\t'),
         contentType: 'application/json;charset=UTF-8',
         success: function(res) {
            var obj1 = res.result;
            $("#hid_div").text(String(obj1));
         }
    });
};
</script>
<script src="static/chart.js"></script>
<script type="text/javascript" src="static/utils.js"></script> 
<script type="text/javascript" src="static/time_performance.js"></script>
<script type="text/javascript" src="static/accuracy_pie.js"></script>
<link rel="stylesheet" href="static/chart.css">
</body>
</html>